.env
.env.*
!.env.example

/vendor/
/node_modules/

/public/storage/
/public/hot
/public/build/

/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

.DS_Store
Thumbs.db
